@import url('https://fonts.googleapis.com/css?family=Raleway');

/*ALGEMENE CSS*/

body{
    background-color: white;
}
nav{
    background-color: #FCF9F2;
}
.navbar-brand{
    font-family: 'Raleway', sans-serif;
}

.paginaTitel{
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}
.helpBar{
    margin: 20px 0 10px 0;
    display: block;
    padding: 10px;
    background-color: lightgray;
    border: 1px solid darkgray;
    border-radius: 10px;
}
.tab {
    display:inline-block;
    margin-left: 20px;
}

/*EIND ALGEMENE CSS*/

/*STARTPAGINA.PHP*/
.startTitel{
    font-family: 'Raleway', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
.inschrijving{
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    background-color: #efefef;
}
.scrollknop{
    padding: 4px;
    background-color: lightgray;
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    color: black;
    font-weight: 0;
    font-size: 18px;
}
.scrollknop .fa-2x{
    padding: 0px;
    font-size: 20px;
}
.scrollknop:hover{
    background-color: gray;
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    color: white;
}
.row-striped:nth-of-type(odd){
    background-color: #efefef;
}
.row-striped:nth-of-type(even){
    background-color: #ffffff;
}
.row-striped {
    padding: 10px 10px;
}
.beheerknop{
    padding: 20px;
    background-color: black;
    color: white;
    display: block;
    margin: 10px;
    border-radius: 10px;
}
.beheerknop:hover{
    background-color: #253555;
    color: white;
}
.media{
    margin-bottom: 20px;
}


.latest-news > h3 {
    color: #333;
    font-size: 24px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 40px;
}
.latest-news-all {
    border-bottom: 1px solid #ddd;
    display: block;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 20px;
}

.latest-news-left {
    display: inline-block;
    float: left;
    padding-right: 20px;
}
.latest-news-right > p {
    color: #333;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 9px;
}
.news span.news-left {
    padding-right: 18px;
}

.news span {
    color: #333;
    font-size: 12px;
    font-weight: normal;
}



/*EIND CSS STARTPAGINA.PHP*/

/*OVER_ONS.PHP*/

.overOns{
    margin-top: 20px;
    margin-bottom: 20px;
}
.overOns h2{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

/*EIND CSS OVER_ONS.PHP*/

/*CSS ZWEMMER_AGENDA.PHP*/

.event {
    display: block;
    width: 12px;
    height: 12px;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    float: left;
    border: 1px solid #777777;}
.event-wed {
    background-color: #94c3f7;
}
.event-supp {
    background-color: #bfbfbf;
    margin-left: 3px;
}
.event-ander {
    background-color: #a9f285;
    margin-left: 3px;
}
.event-stage {
    background-color: #f9a557;
    margin-left: 3px;
}

/*EIND CSS ZWEMMER_AGENDA.PHP*/

/*CSS ACTIVITEIT BEKIJKEN.PHP*/

.delete {
	background: #212223;
	color:#FFF;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 20px;
	position: absolute;
}

.modal-body {
	padding: 0;
}

.gebeurtenis {
	margin-left: 20px;
	margin-top: 25px;
	padding-right: 50px;
}

.delete button {
	margin-left: 5px;
}

/*EIND CSS ACTIVITEIT BEKIJKEN.PHP*/

/*CSS ZWEMMER_INFO.PHP*/
.bio {
  text-align: justify;
}
/*EIND CSS ZWEMMER_INFO.PHP*/
